body {
    margin: 0;
} 

.container {
    margin: 3em auto;;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    width: 80%;
}

.logo {
    text-align: center;
    min-height: 20%;
    font-size: 1.5rem;
}

.menu {
    width: 90%;
    margin: 2em auto;
}

.menuCard {
    justify-content: start;
    align-items: start;
}

.item-details {
    display: flex;
    margin: 2em 0;
    gap: 2em
}

.emoji {
    font-size: 5.5rem;
    position: relative;
}

.ingredients {
    opacity: 0.6;
}

.name,
.price,
.ingredients {
    font-size: 1.4rem;
}

.buyBtn {
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    background: white;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
}

.your−order {
    text-align: center;
}

.finishOrder {
    text-align: center;
}

.payement-modal {
    display: none;
}

