body {
    margin: 0;
} 

.container {
    margin: 3em auto;;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    width: 80%;
}

.logo {
    text-align: center;
    min-height: 20%;
    font-size: 1.5rem;
    margin-bottom: 3em;
}

.menu {
    width: 90%;
    margin: 2em auto;
}

.menuCard {
    justify-content: start;
    align-items: start;
}

.item-details {
    display: flex;
    margin: 2em 0;
    gap: 2em;
    padding: 2em 0;
    border-bottom: 2px solid lightgray;
}

.emoji {
    font-size: 5.5rem;
    position: relative;
}

.ingredients {
    opacity: 0.6;
    padding: 0.25em 0;
}

.name,
.price,
.ingredients {
    font-size: 1.4rem;
}

.buyBtn {
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    background: white;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
}

.buyBtn:hover {
    background: lightgray;
}

.spanPrice {
    font-size: 1.4rem;
}

.your−order {
    font-size: 1.5rem;
    text-align: center;
}

.addToOrder {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-bottom: 1em;
}

.removeBtn {
    display: block;
    border: none;
    font-size: 14px;
    color: lightseagreen;
    padding: 5px 10px 4px 10px;
    cursor: pointer;
}

.completeBtn {
    width: 90%;
    display: block;
    margin: 2.5em auto;
    padding: 1em;
    background: #16db99;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.payement-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 45%;
    margin: auto;
    border-radius: 8px;
    inset: 0;
    padding-inline: 1.75em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.payement-modal h3 {
    font-size: 2rem;
}

.payement-modal input {
    height: 12%;
    width: 80%;
    margin: 0.75em 0;
    padding-left: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.pay-btn {
    display: block;
    height: 12%;
    width: 85%;
    background: #16db99;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1.2em;
    font-size: 1.5rem;
}

.payement-modal {
    display: none;
}

